.landing{
  right: 0px;
  top: 40px;
  width: 900px;
  height: 900px;
  font-size: 34px;
  background-color: #034f84;
  header{
  text-align: center;
  }
  background{
  text-align: center;
  font-size: 12px;
  }
  linkedIn{
    color: black;
    text-align: right;
    font-family: Arial;
    font-size: 18px;
  }
  gitHub{
    color: black;
    text-align: right;
    font-family: Arial;
    font-size: 18px;
  }
}